header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 999;
}
header h1 {padding-left: 30px;}
header h1 a {
    display: block;
    width: 120px;
}
header h1 a img {width: 100%;}
.m-menu_btn {display: none;}
.m-menu_btn a {display: block;}
.m-menu_btn a img {
    width: 100%;
    filter: invert(1);
}
nav {
    display: flex;
    gap: 5rem;
}
nav a {
    font-weight: 500;
    padding: 5px;
}
header nav a span {display: none;}
nav a::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 0.3s;
}
nav a.white::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}
nav a:hover::after {
    width: 100%;
}
header .side_menu {
    display: flex;
    gap: 1rem;
    padding-right: 30px;
}
/* header clone css */
#header_clone_area {
    display: none;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    right: -100px;
    transform: translateX(100%);
    width: 100%;
    transition: all 0.3s;
    z-index: 200;
}
#header_clone_area header {
    position: fixed;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    width: 70%;
    background-color: #fff;
    height: 100vh;
    z-index: 900;
}
#header_clone_area header h1 a {width: 120px;}
#header_clone_area > header h1 a img {filter: invert(1);}
#header_clone_area header h1 {width: 100%;}
#header_clone_area header h1,
#header_clone_area header nav,
#header_clone_area header .side_menu {
    display: flex !important;
    align-items: flex-start;
    overflow: hidden;
}
#header_clone_area header .side_menu {
    padding: 0;
    gap: 2rem;
}
#header_clone_area header .side_menu > li > a {filter: invert(1);}
#header_clone_area header nav {
    width: 100%;
    flex-direction: column;
    gap: 3rem;
}
#header_clone_area > header nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    line-height: 1.5;
    color: #000;
}
#header_clone_area header nav a::after {display: none;}
#header_clone_area header nav a span {
    display: block;
}
#header_clone_area header .m-menu_btn {display: none;}
#header_clone_area .close_btn {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 910;
}
.m_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 100;
}
/* ============ side menu 검색창 */
.search_box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 100%;
    background-color: #f5f5f5;
    transition: all 0.3s;
}
.search_box .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.search_box .txt h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
}
.search_box .txt .close_search {
    width: 24px;
    height: 24px;
    background-image: url("../images/close_menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.search_box #user_search_form {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search_box #user_search_form input[type = text] {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #ddd;
    outline: none;
}
.search_box #user_search_form button[type = submit] {
    width: 24px;
    height: 24px;
    border: 0;
    background-color: unset;
    background-image: url("../images/search.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#header_clone_area header .search_box {
    top: unset;
    background-color: #ddd;
}
#header_clone_area header .search_box .txt {margin-bottom: 10px;}
#header_clone_area header .search_box #user_search_form {gap: 0.5rem;}
@media screen and (max-width: 1024px) {
    header {height: 56px;}
    header > h1 {padding-left: 16px;}
    #header_clone_area header h1 {padding: 0;}
    header nav, .side_menu {display: none !important;}
    .m_bg {display: block;}
    .m-menu_btn {
        display: block;
        padding-right: 16px;
    }
    .sec01 .txt_bg_ani {
        height: 100px;
        background-size: cover;
    }
    .sec01 .images img:nth-child(2) {
        min-width: 200px;
    }
    /* header clone css */
    #header_clone_area {display: flex;}
    /* 검색창 */
    .search_box {
        padding: 15px;
    }
    .search_box .txt h3 {font-size: 1rem;}
    .search_box #user_search_form input[type = text] {padding: 5px 16px;}
}
@media screen and (max-width: 648px) {
    header h1 a {width: 80px;}
    .m-menu_btn a {
        display: block;
        width: 24px;
    }
}