/* ================ 공통 */
.move_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 20px;
    width: 80px;
    font-weight: 500;
    background-color: #0BD4CD;
    border-radius: 30px;
    transition: background-color 0.3s;
}
.move_btn:hover {background-color: #1A9C98;}
.move_btn span {
    width: 28px;
    height: 28px;
    background-image: url("../images/btn_arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ============ sec01 */
.sec01 {
    position: relative;
    overflow: hidden;
    background : linear-gradient(180deg, #ececec, #fff);
}
/* sec01 텍스트들 */
.sec01 .txt_bg_ani {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 150px;
    background: url("../images/sec01_move_text.png") repeat-x left top;
    animation: move_txt 20s infinite linear;
    z-index: 20;
}
/* sec01 이미지들 */
.sec01 .images img {
    position: absolute;
    z-index: 10;
    width: 50%;
    max-width: 550px;
}
.sec01 .images img:first-child {
    /* 위에 있는 이미지 */
    top: -250px;
    right: 20px;
    transform: translateY(0) scale(1.2);
    animation: cloud 3s ease-in-out infinite alternate;
}
.sec01 .images img:nth-child(2) {
    /* 가운데 이미지 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}
.sec01 .images img:last-child {
    /* 아래 있는 이미지 */
    left: 0px;
    bottom: -300px;
    transform: translateY(0) scale(1.2);
    animation: cloud 2s cubic-bezier(0.55, 0.09, 0.68, 0.53) infinite alternate;
}
/* ============ sec02 */
.sec02 {
    position: relative;
    overflow: hidden;
    background-color: #231F20;
}
.sec02 .txt {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    z-index: 20;
}
.sec02 .txt .top {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    color: #fff;
}
.sec02 .txt .top span {
    opacity: 0;
    line-height: 1.5;
    font-family: "Sofia Sans", sans-serif;
}
.sec02 .txt .top span:last-child {animation-delay: 0.4s;}
.sec02_text_impect {animation: sec02_text 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;}
.sec02 .txt p {
    font-size: 6.25rem;
    color: #fff;
    opacity: 0;
    animation-delay: 0.8s;
}
.sec02 .images img {
    position: absolute;
    z-index: 10;
}
.sec02 .images img:first-child,
.sec02 .images img:nth-child(2) {
    width: 100px;
}
.sec02 .images img:first-child {
    opacity: 0;
    top: 120px;
    left: 8%;
    transform: rotate(-30deg);
    
}
.sec02 .images img:nth-child(2) {
    opacity: 0;
    bottom: 300px;
    right: 8%;
    transform: rotate(50deg);
}
.sec02 .images img:last-child {
    opacity: 0;
    width: 60%;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
}
.key_cap_ani01 {animation: key_cap1 0.4s 0.8s ease-in-out both;}
.key_cap_ani02 {animation: key_cap2 0.4s 0.8s ease-in-out both;}
.keyboard_ani {animation: keyboard_ani 0.4s 1.2s ease-in-out both;}
/* ============ sec03 */
.sec03 {
    overflow: hidden;
    height: 100%;
    background-color: #231F20;
}
.sec03 .sec03_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    height: 100%;
}
.sec03 .txt {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}
.sec03 .txt h2 {font-size: 3.125rem;}
.sec03 .txt p {
    margin: 20px 0 50px;
    font-size: 1.25rem;
}
/* sec03 swiper */
.sec03 .images_list .swiper-wrapper  {transition-timing-function: linear;}
.sec03 .images_list .swiper-wrapper .swiper-slide img {
    width: 100%;
    transition: all 0.3s;
}
.sec03 .images_list .swiper-wrapper .swiper-slide:hover img {transform: scale(1.1);}
/* ============ sec04 */
.sec04 {background-color: #231F20;}
.sec04 .sec04_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}
.sec04 h2 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 3.125rem;
}
.sec04 h2 span {
    padding-left: 30px;
    font-weight: 500;
    line-height: 1.3;
}
.sec04 .sec04_contents {
    display: flex;
    gap: 2rem;
    width: 100%;
}
.sec04 .sec04_contents .images {
    width: calc(60% - 2rem);
    height: 450px;
    overflow: hidden;
}
.sec04 .sec04_contents .images img {width: 100%;}
.sec04 .sec04_contents .sec04_g {
    width: calc(39% - 2rem);
    border-top: 5px solid #29FCC3;
}
.sec04 .sec04_contents .sec04_g li {
    padding: 30px 0;
    transition: all 0.3s;
}
.sec04 .sec04_contents .sec04_g li .intro {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}
.sec04 .sec04_contents .sec04_g li .intro h3 {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.sec04 .sec04_contents .sec04_g li .intro h3 span:first-child {
    margin-bottom: 10px;
    font-weight: 300;
}
.sec04 .sec04_contents .sec04_g li .intro h3 span:last-child {font-size: 1.875rem;}
.sec04 .sec04_contents .sec04_g li .intro p {
    width: 100px;
}
.sec04 .sec04_contents .sec04_g li .intro p img {width: 100%;}
.sec04 .sec04_contents .sec04_g li .sec04_btn {
    display: flex;
    justify-content: flex-end;
}
.sec04 .sec04_contents .sec04_g li .sec04_btn .move_btn {margin: 0;}
.sec04 .sec04_contents .sec04_g li:last-child {border-top: 1px solid #0BD4CD;}
/* ============ sec05 */
.sec05 {
    overflow: hidden;
    position: relative;
    background-color: #231F20;
}
.sec05 .sec05_wrap {
    height: 100%;
}
.sec05 video {
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.sec05 .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 20;
}
.sec05 .txt::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 0;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, #000, transparent);
    z-index: -10;
}
.sec05 .txt::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 20px 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #000, transparent);
    z-index: -10;
}
.sec05 .txt .image {
    width: 200px;
    margin: 0 auto 20px;
}
.sec05 .txt .image img {
    display: inline-block;
    width: 100%;
}
.sec05 .txt p {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    line-height: 1.7;
    text-align: center;
}
