/* ============ 공통 */
section div[class $= wrap]:not([class ^= sec02]) h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
section div[class $= wrap] {
    max-width: 1440px;
    margin: 0 auto;
}
section div[class *= wrap] h2 span {
    font-size: 1.25rem;
    font-weight: 300;
}
section div[class *= wrap] h2 strong {
    margin-top: 10px;
    font-size: 1.875rem;
    font-weight: 700;
}
section:not(:first-child) {padding: 100px 0;}
/* ============ sec01 */
.sec01 {
    position: relative;
    background-color: #000;
}
.sec01 .sec01_bg {
    width: 100%;
    height: 450px;
    background-image: url("../images/intro/cork-office-building.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    opacity: 0.7;
}
.sec01 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    color: #fff;
    
    z-index: 1;
}
.sec01 h1 strong {
    margin: 10px 0;
    font-size: 3.125rem;
    font-weight: 700;
}
.sec01 h1 span {
    font-size: 1.25rem;
    font-weight: 300;
}
/* ============ sec02 */
.sec02 .sec02_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.sec02 .sec02_wrap h2 {
    display: flex;
    position: relative;
    width: calc(29% - 2rem);
    font-size: 1.875rem;
    font-weight: 700;
    z-index: 10;
}
.sec02 .sec02_wrap h2::after {
    position: absolute;
    top: -70px;
    left: 30px;
    content: "Story";
    display: block;
    color: #ddd;
    font-size: 6.25rem;
    z-index: -1;
}
.sec02 .sec02_wrap .txt {width: calc(70% - 2rem)}
.sec02 .sec02_wrap .txt p {
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.7;
}
.sec02 .sec02_wrap .txt p em {font-weight: 700;}
/* ============ sec03 */
.sec03 {background-color: #231F20;}
.sec03 .sec03_wrap .txt {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.sec03 .sec03_wrap .txt p {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    color: #f5f5f5;
    line-height: 1.7;
}
.sec03 .sec03_wrap .images {
    width: 500px;
    margin: 0 auto;
}
.sec03 .sec03_wrap .images img {width: 100%;}
/* ============ sec04 */
.sec04 .sec04_wrap .txt {margin-bottom: 50px;}
.sec04 .sec04_wrap .txt * {
    color: #000;
    line-height: 1.3;
}
.sec04 .sec04_wrap .txt strong  {margin-bottom: 10px;}
.sec04 .sec04_wrap .txt p {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.7;
    color: #666;
}
.sec04 .sec04_wrap .circle_contents {
    display: flex;
    justify-content: center;
}
.sec04 .sec04_wrap .circle_contents li {
    position: relative;
    margin-left: -20px;
    width: calc((100% / 3) - 50px);
    border-radius: 50%;
    background-color: #0BD4CD;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.sec04 .sec04_wrap .circle_contents li::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.sec04 .sec04_wrap .circle_contents li:nth-child(2) {background-color: #252A2C;}
.sec04 .sec04_wrap .circle_contents li p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.sec04 .sec04_wrap .circle_contents .circle1 {
    opacity: 0;
    transform: translateX(90%);
}
.sec04 .sec04_wrap .circle_contents .circle2 {opacity: 0;}
.sec04 .sec04_wrap .circle_contents .circle3 {
    opacity: 0;
    transform: translateX(-90%);
}
.sec04 .sec04_wrap .circle_contents li p span {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}
.sec04 .sec04_wrap .circle_contents li p span em {
    font-weight: 700;
    font-size: 1.875rem;
}
/* ============ sec05 */
.sec05 {background-color: #231F20;}
.sec05 .sec05_wrap > .txt {margin-bottom: 100px;}
.sec05 .sec05_wrap > .txt p {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    line-height: 1.7;
}
.sec05 .sec05_wrap .sec05_contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}
.sec05 .sec05_wrap .sec05_contents li {
    width: calc((100% / 3) - 3rem);
    border-radius: 10px;
    background-color: #F5F5F5;
    overflow: hidden;
}
.sec05 .sec05_wrap .sec05_contents li .image {
    
}
.sec05 .sec05_wrap .sec05_contents li .image img {width: 100%;}
.sec05 .sec05_wrap .sec05_contents li .txt {
    padding: 30px 40px 50px 40px;
}
.sec05 .sec05_wrap .sec05_contents li .txt h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}
.sec05 .sec05_wrap .sec05_contents li .txt p {
    line-height: 1.7;
}
/* ============ 반응형 */
@media screen and (max-width: 1440px) {
    section:not(:first-child) {padding: 100px 16px;}
}
@media screen and (max-width: 1100px) {
    /* ============ 공통 */
    section:not(:first-child) {
        padding: 50px 16px;
    }
    section div[class $= wrap] {
        width: 100%;
    }
    /* =========== sec01 */
    .sec01 h1 span {font-size: 1.125rem;}
    .sec01 h1 strong {
        text-align: center;
        font-size: 2.5rem;
    }
    /* =========== sec02 */
    .sec02 {padding: 100px 16px !important;}
    .sec02 .sec02_wrap {
        flex-direction: column;
        gap: 3rem;
    }
    .sec02 .sec02_wrap .txt {width: 100%;}
    .sec02 .sec02_wrap .txt p {margin-bottom: 80px;}
    .sec02 .sec02_wrap .txt p:last-child {margin: 0;}
    .sec02 .sec02_wrap h2 {
        justify-content: center;
        width: 100%;
    }
    .sec02 .sec02_wrap h2::after {
        top: -35px;
        left: 55%;
        transform: translateX(-50%);
        font-size: 3.125rem;
    }
    .sec02 .sec02_wrap .txt p {font-size: 1rem;}
    /* ============ sec03 */
    .sec03 .sec03_wrap .txt {
        width: 100%;
    }
    /* ============= sec04 */
    .sec04 .sec04_wrap .txt p {
        width: 100%;
    }
    .sec04 .sec04_wrap .circle_contents li p span {
        padding: 0 16px;
        font-size: 1rem;
    }
    .sec04 .sec04_wrap .circle_contents li p span em {font-size: 1.25rem;}
    /* ============ sec05 */
    .sec05 .sec05_wrap .sec05_contents {gap: 3rem;}
    .sec05 .sec05_wrap .sec05_contents li {
        width: 100%;
    }

}
@media screen and (max-width: 648px) {
    /* ============ 공통 */
    section div[class *= wrap] h2 span {font-size: 1rem}
    section div[class *= wrap] h2 strong {font-size: 1.25rem;}
    /* ============ sec01 */
    .sec01 .sec01_bg {height: 300px;}
    .sec01 h1 span {font-size: 1rem;}
    .sec01 h1 strong {
        text-align: center;
        font-size: 1.875rem;
    }
    /* ============ sec02 */
    .sec02 .sec02_wrap h2 {font-size: 1.25rem;}
    .sec02 .sec02_wrap h2::after {
        top: -25px;
        font-size: 1.875rem;
    }
    .sec02 .sec02_wrap .txt p {font-size: 0.875rem;}
    /* ============ sec03 */
    .sec03 .sec03_wrap .images {width: 80%;}
    .sec03 .sec03_wrap .txt p {font-size: 0.875rem;}
    /* ============ sec04 */
    .sec04 .sec04_wrap .circle_contents li {
        width: 50%;
        margin-left: -5px;
    }
    .sec04 .sec04_wrap .circle_contents li p span {
        padding: 0 2px;
        font-size: 0.875rem;
    }
    .sec04 .sec04_wrap .txt p {font-size: 0.875rem;}
    .sec04 .sec04_wrap .circle_contents li p span em {font-size: 1rem;}
    /* ============ sec05 */
    .sec05 .sec05_wrap .sec05_contents li .txt {padding: 30px 20px;}
    .sec05 .sec05_wrap > .txt p {font-size: 0.875rem;}
    .sec05 .sec05_wrap .sec05_contents li .txt h3 {font-size: 1rem;}
    .sec05 .sec05_wrap .sec05_contents li .txt p {font-size: 0.875rem;}
}   

/* ============ scrolltriger 전용 애니메이션 */
.ani {opacity: 0;}
.move_ani {animation: move 1s 0.1s both;}
@keyframes move {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}